.font-white {
    color: #fff;
}

.justify {
    text-align: justify
}

.size-10 {
    font-size: 10px !important;
}

.size-12 {
    font-size: 12px !important;
}

.size-14 {
    font-size: 14px;
}

.img-responsive1 {
    display: block;
    max-width: 100%;
    height: 45px;
}


/*.banner-baru {
	background: url(../images/home-background.png) no-repeat 0px 0px;
    background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	min-height: 750px;
	z-index:1;
}*/



#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

/*
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
	border-radius: 10px;
	background-color: #fff;
}



/*PRODUCT================*/

.product-hover:hover {
    background: rgba(255,255,255,0.6);
}

.tangan {
    cursor: pointer;
}

/*TESTI ==================*/

.testi {
    max-height: 220px;
    min-height: 220px;
    /*width: 382px;*/
    overflow-y: scroll;
    background: #09c;
    
}



.top-image {
  width: 100%;
}

.top-item {
  position: absolute;
  width: 10%
}

.item-1 {
  right:42%;
  top: 15vw;
}

.item-2 {
  right:31%;
  top: 12vw;
}

.item-3 {

  right:20%;
  top: 13vw;
  
}

.item-4 {
  right:43%;
  top: 25vw;
}

.item-5 {
  right:32%;
  top: 22vw;
}

.item-6 {
  right:21%;
  top: 23vw;
}