/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
	margin: 0;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	background: #fff;
    scrollbar-face-color: #09c;
}

body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
	outline: none;
}

input[type="button"],
input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Khula', sans-serif;
	font-weight: 700;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}
/*-- header --*/
.w3-logo {
	float: left;
	line-height: 5px;
	position: relative;
	z-index: 999;
}
.w3-logo,
.address,
.nav-contact-w3ls {
	width: 33.2%;
	display: inline-block;
}
.nav-contact-w3ls,
.address {
	margin-top: 5px;
}
.header-bottom-agileits p {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: right;
}
.nav-contact-w3ls p span.fa {
	color: #00a8ff;
	color: #fff;
	font-size: 17px;
	margin-left: 10px;
}
p.para-y a {
	color: #ffcc54;
}
.navbar {
	margin-bottom: 0;
}
.navbar-nav {
	float: none;
	margin-top: 0.5em;
}
.w3-logo {
	position: relative;
}
.w3-logo a {
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
}
header {
	padding: 1.5em 0 .5em;
	background: rgba(255, 255, 255, 0.07);
}
.w3-slider {
	height: 700px;
	position: relative;
	width: 100%;
}
.banner-text-w3-agileits {
	margin-top: 10em;
	float: right;
	width: 50%;
	text-align: left;
}
.banner-text-w3-agileits h5 {
	color: #fff;
	font-size: 1.7em;
	letter-spacing: 3px;
	font-weight: 400;
}
.banner-text-w3-agileits h2 {
	font-size: 3em;
	letter-spacing: 2px;
	font-weight: 500;
	color: #fff;
	margin: 0.2em 0;
}
.banner-text-w3-agileits h2 span {
	color: #ffcc54;
}
.banner-text-w3-agileits p {
	color: #dadada;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 28px;
}
.botton a:hover span {
	border-left: none;
	border-bottom: 1px solid #ffffff;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	-ms-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	color: #ffcc54;
}
.botton a {
	background: #ffcc54;
	color: #fff;
	display: inline-block;
	letter-spacing: 3px;
	font-weight: 400;
	font-size: 15px;
	padding: 10px 25px;
	cursor: pointer;
	text-decoration: none;
	margin-top: 1em;
	border: 2px solid transparent;
}
.clients-left .botton a {
	float: left;
}
.botton a:hover {
	color: #fff;
	background: transparent;
	border-color: #fff;
}
/*--nav effect--*/
nav ul {
	list-style: none;
	text-align: center;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #aaa;
	font-weight: 800;
	text-transform: uppercase;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .5s;
}
nav ul li a:hover {
	color: #555;
}
/* SHIFT */
nav.shift ul li a {
	position: relative;
	z-index: 1;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color:#ffcc54;
	background-color: transparent;
}
/*--//nav effect--*/
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #555;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #fff;
    background: transparent;
    padding: 8px 0px;
    font-weight: 500;
}
.navbar-nav>li {
    float: left;
    margin: 0 1%;
    width: 14.6%;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	color: #ffffff;
	background-color: transparent;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: transparent;
	padding: 0;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.navbar-nav>li>a.active {
	color: #ffcc54;
}
.dropdown-menu {
	top: 48px;
}
.agile_short_dropdown {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.71);
    text-align: center;
    padding: 0;
    border: none;
}
.agile_short_dropdown li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    padding: .8em 0;
    border-bottom: none;
}
ul.dropdown-menu.agile_short_dropdown li{
	display:block;
}
.agile_short_dropdown>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ffcc54;
}
.header-bottom-agileits {
	position: relative;
}
.nav-bg {
	background: rgba(4, 4, 4, 0.44);
	padding: 0.5em 0;
}
/*-- //header --*/
.banner-1{
    background: url(../images/22.jpg)no-repeat 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 300px;
    position: relative;
	z-index:1;
}
.banner {
	background: url(../images/22.jpg)no-repeat 0px 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	min-height: 750px;
	z-index:1;
}
.banner-text {
	padding: 13em 0em 0 0;
	width: 65%;
}
/*-- //banner --*/
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*--placeholder-color--*/
::-webkit-input-placeholder {
	color: #b5b5b5;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: #b5b5b5;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: #b5b5b5;
}
:-ms-input-placeholder {
	color: #b5b5b5;
}
/*--//placeholder-color--*/
/*-- modal --*/
.modal-content img {
	width: 100%;
	margin-top: 1em;
}
.modal-content h4 {
	color: #ffcc54;
	text-align: center;
	font-size: 3em;
	margin-bottom: 0px;
}
.modal-content h5 {
	color: #1ca0de;
	padding: 20px 0 6px;
	font-size: 22px;
	margin-left: 0px;
}
.modal-content p {
	color: #000;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.2px;
	word-spacing: 1px;
}
.modal-header {
	min-height: 16.42857143px;
	padding: 20px 30px;
}
.modal-dialog {
	margin: 109px auto;
}
/*-- //modal --*/
/*-- main --*/
h5.title-w3 {
	font-size: 2.8em;
	text-transform: uppercase;
	text-align: left;
	margin: 0em 0 0.7em;
	color: #000;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	display: inline-block;
}
.w3l_header {
    font-size: 3em;
    color: #262c38;
    letter-spacing: 1px;
    position: relative;
    font-weight: 600;
    text-align: center;
}
.w3l_header span {
    color: #545151;
    font-weight: 200;
}
.w3l_header:after {
    border-top: 2px solid #ffcc54;
    display: block;
    width: 81px;
    content: "";
    margin: 8px auto 0;
}
.wthree_head_section p {
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: #5e5e5e;
    line-height: 1.8em;
}
.wthree_head_section{
	margin-bottom:4em;
}
h5.white-clr {
	color: #fff;
}
h5.sub-hdg {
	color: #ffcc54;
	font-size: 23px;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin-bottom: 0.3em;
}
.white-agileits {
	color: #fff!important;
}
p.para-w3-agile {
	/*font-size: 15px;*/
    font-size: 12px;
	font-weight: 400;
	color: #ffffff;
	line-height: 28px;
	letter-spacing: 1px;
}
.about-main-w3layouts,
.team,
.practice-areas,
.clients-main {
	padding: 5em 0;
}
.para-agileits-w3layouts {
	font-size: 15px;
	color: #777;
	letter-spacing: .8px;
	line-height: 30px;
}
.red-w3ls {
	color: white!important;
	display: inline-block!important;
}
.button-w3layouts a {
	display: inline-block;
	color: #fff;
	padding: 10px 20px;
	font-size: 15px;
	background: #000;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: .5px;
	text-shadow: -2px 1px 1px rgba(0, 0, 0, 0.62);
	transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	-ms-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	border-radius: 0px;
}
.button-w3layouts a:hover {
	background: #5c55d2;
	color: #fff;
}
/*--// main --*/
/*-- pricing --*/
.wthree-pricing h3.agileits-title, .wthree-pricing h3.agileits-title span {
    color: #fff;
}
.wthree-pricing {
    padding:5em 0;
}
.pricing-grids-info {
    text-align: center;
}
.pricing-grid {
    float: left;
    width: 31%;
}
.pricing-grid.grid-two {
    margin: 0 2em;
}
.pricing-grid.grid-three {
    margin: 0 2em 0 0;
}
.pricing-grid h3 {
    font-size: 1.6em;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    text-align: center;
}
.pricing-grid h4 {
    font-size: 2.3em;
    font-weight: 500;
    color: #ffcc54;
    position: relative;
    margin-top: 1em;
    text-align: center;
}
.pricing-grid h4 span.sup {
    vertical-align: text-top;
    font-size: 0.5em;
}
.pricing-grid {
    float: left;
    width: 22.8%;
    background: #fff;
    padding: 1em;
    box-shadow: 0 0 8px 0 rgba(161, 161, 161, 0.5);
}
.w3ls-top {
    position: relative;
    color: #000;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: left;
    text-transform: uppercase;
    padding: 1em 0em;
    border-radius: 5px 5px 0;
    border-bottom: 2px solid #ffcc54;
}
.w3ls-bottom {
    padding: 0;
}
.w3ls-bottom ul li {
    font-size: 15px;
    color: #292828;
    margin-top: 1em;
    padding-top: 1em;
    display: block;
}
.more a {
    display: inline-block;
    font-size: 1em;
	color:#fff;
    background:#ffcc54;
    padding: .5em 3em;
    margin-top: 1.2em;
    border-radius: 4px;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all; 
}  
.more a:hover {
    opacity: .7;
}        
/*-- //pricing --*/
/*--dishes--*/
.blog-gd-w3ls {
	position: relative;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	padding: 0px;
}
.blog-gd-w3ls img {
	width: 100%;
}
.date-w3 {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	padding: 1.5em;
}
.date-w3 h4 {
	font-size: 1.8em;
	color: #ffcc54;
	text-transform: capitalize;
	letter-spacing: 1px;
	/* text-shadow: 1px 1px 2px rgb(0, 0, 0); */
	font-weight: 400;
}
.blog-gd-w3ls:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	z-index: 1;
	border: none;
}
.blog-gd-w3ls:hover .date-w3 {
	display: block;
	transition: 0.7s all;
	-webkit-transition: 0.7s all;
	-moz-transition: 0.7s all;
	-o-transition: 0.7s all;
	-ms-transition: 0.7s all;
}
.date-w3 a {
	font-size: 13px;
	letter-spacing: 1px;
	text-decoration: none;
	color: rgba(210, 210, 210, 0.83);
}
.date-w3 a:hover {
	color: #ffcc54;
	text-decoration: none;
}
/*--//dishes--*/
.free {
	padding: 3.5em 0;
}
.free h5 {
	margin-bottom: 0em!important;
	float: left;
	padding-top: 0.5em;
}
.free .botton a {
	margin-top: 0!important;
}
/*-- gallery --*/
.agile_gallery_grid {
	margin-top: 2em;
}

.agile_gallery_grid:nth-child(1) {
	margin-top: 0em!important;
}

.agile_gallery_grid1 {
	position: relative;
}
/*-- //Latest News --*/
@media(min-width:481px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

	.area-inner {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
}
.area-inner {
	padding: 0;
}
.area-img1,
.area-img2,
.area-img3,
.area-img4,
.area-right {
	flex-basis: 50%;
	-webkit-flex-basis: 50%;
}
.area-img1,
.area-img2,
.area-img3,
.area-img4 {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	    min-height: 330px;
}
/*.area-img1 {
	background: url(../images/2.jpg)no-repeat 0px 0px;
}*/
.area-img1 {
	background: url(../images/1.jpg)no-repeat 0px 0px;
}

.area-img2 {
	background: url(../images/4.jpg)no-repeat 0px 0px;
}
.area-img3 {
	background: url(../images/1.jpg)no-repeat 0px 0px;
}
.area-img4 {
	background: url(../images/5.jpg)no-repeat 0px 0px;
}
.area-right {
	padding: 2em;
}
.p1 {
	background: #633e6e;
}

.p2 {
	background: #f76872;
}
.p3 {
	background: #ffcc54;
}
.p4 {
	background: #50c1b6;
}
.area-right h5 {
	color: #000000;
	font-size: 30px;
	margin-bottom: 6px;
}
/*-- //Latest News --*/
/*-- clients --*/
.contact-w3layouts h3,
.clients h3 {
	color: #000!important;
}
.spldishes-w3left {
	padding: 2.3em;
	background-color: #fd463e;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	transition: .5s all;
}
.w3agile-spldishes p.para-agileits-w3layouts {
	color: #8a8888!important;
}
.spldishes-agileinfo:hover .spldishes-w3left {
	background-color: #09c4dc;
}
.spldishes-agileinfo {
	margin-top: 4em;
}
.spldishes-agileinfo h5 {
	font-size: 2em;
	color: #fff;
}
.spldishes-w3left p {
	color: #fff;
	margin-top: 1.4em;
}
.spldishes-grids {
	padding: 0;
}
.g1 {
	position: relative;
	display: block;
	background: rgba(5, 5, 3, 0.78);
	padding: 2.5em 2em;
	margin: 0em 0em 0em 1em;
}
.agile-dish-caption {
	float: left;
	text-align: right;
	width: 65%;
}
.agile-dish-caption h4 {
	font-size: 1.5em;
	color: #ffcc54;
	margin: 0.6em 0 0em;
	font-weight: 500;
	letter-spacing: 1px;
}
.agile-dish-caption h3 {
	font-weight: bold;
	color: #3d3d3d;
}
.agile-dish-caption span {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 300;
}
#owl-demo .item img {
	width: 80px;
	border-radius: 50%;
	float: right;
}

.g1 p span.fa {
	font-size: 1.8em;
	color: #ffcc54;
	margin-right: 0.5em;
}
@media(max-width:480px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

	.agile-dish-caption {
		padding: 0.5em;
	}
	.agile-dish-caption span {
		font-size: 0.8em;
	}
}
.client-eql {
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

/*-- //clients --*/
/*-- footer --*/

.footer {
    background: #0b0c11;
}
.f-bg-w3l {
    padding: 5em 0;
}
.w3layouts_footer_grid h2,
.w3layouts_footer_grid h3 {
    font-size: 1.5em;
    color: #fff;
    position: relative;
    margin-bottom: 1.5em;
    letter-spacing: 2px;
}
h3.heading-agileinfo.white-w3ls {
    color: #f8b239;
    font-size: 35px;
    line-height: 48px;
}
.more-button a {
    font-size: 15px;
    background: #f8b239;
    color: #fff;
    padding: 8px 25px;
    display: inline-block;
    margin-top: 2em;
}
.more-button a:hover{
    background: #000;
}
ul.links li {
    list-style: none;
    color: #fff;
    margin-bottom: 10px;
}

.w3layouts_footer_grid h2 span,
.w3layouts_footer_grid h3 span {
    color: #ffcc54;
}

ul.links li a {
    color: #fff;
}

.social_agileinfo li {
    display: inline-block;
}

.social_agileinfo li a {
    width: 40px;
    height: 40px;
    display: block;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
}

.social_agileinfo li a i {
    font-size: 1em;
    line-height: 2.4em;
}

.w3_facebook:hover {
    border: 1px solid #3b5998;
    background: #3b5998;
}

.w3_twitter:hover {
    border: 1px solid #1da1f2;
    background: #1da1f2;
}

.w3_instagram:hover {
    border: 1px solid #833ab4;
    background: #833ab4;
}

.w3_google:hover {
    border: 1px solid #dd4b39;
    background: #dd4b39;
}

.w3l_footer_nav {
    margin: 3em 0 3em;
}

.w3l_footer_nav li {
    display: inline-block;
    margin-right: 4em;
}

.w3l_footer_nav li a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}

.w3l_footer_nav li a:hover,
.w3l_footer_nav li a.active {
    color: #FFC107;
}
.w3layouts_footer_grid p {
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 2em;
    color: #bfbfbf;
}

p.copyright {
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0em;
    background: #0e0e13;
    padding: 10px 0;
}

p.copyright a {
    color: #fff;
    text-decoration: underline;
}

p.copyright a:hover {
    color: #FFC107;
}

.w3layouts_footer_grid form {
    border: 1px solid #fff;
    width: 100%;
}

.w3layouts_footer_grid input[type="email"] {
    outline: none;
    padding: 15px 15px;
    color: #fff;
    font-size: 14px;
    width: 88%;
    border: none;
    background: rgba(0, 0, 0, 0.22);
    letter-spacing: 2px;
}

button.btn1 {
    color: #fff;
    border: none;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    background: #ffcc54;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    width: 12%;
}

ul.con_inner_text li {
    list-style-type: none;
    color: #bfbfbf;
    font-size: 14px;
    margin-bottom: 17px;
}

ul.con_inner_text li label {
    display: block;
    margin-left: 1.7em;
}

ul.con_inner_text span {
    margin-right: 13px;
}

ul.con_inner_text li a {
    color: #bfbfbf;
}

ul.con_inner_text li label {
    color: #bfbfbf;
    margin-right: 1em;
    font-weight: 400!important;
}

ul.con_inner_text.midimg li {
    display: inline-block;
    float: left;
    width: 22%;
    margin: 6px;
}
/*-- //footer --*/
/*-- services-bottom --*/
.services-bottom {
    background: url(../images/11.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    z-index:1;
}
.banner-dott1 {
    padding: 5em 0;
    background: rgba(0, 0, 0, 0.18);
}
h3.w3l_header.two {
    color: #fff;
}
h3.w3l_header.two span{
    color: #fff;
}
p.tho {
    color: #fff;
}
/*-- counter--*/
.agile_count_grid_left {
    float: left;
    width: 35%;
    text-align: center;
}
.agile_count_grid_left span,.agile_count_grid_right p{
	font-size:2em;
}
.agile_count_grid_right {
    float: left;
    margin-left: 0em;
    width: 60%;
    text-align: center;
}
.agile_count_grid_left span.glyphicon.glyphicon-thumbs-up{
	    font-size: 1.7em;
		line-height: 40px;
}
.agile_count_grid_left span.glyphicon.glyphicon-user{
	    font-size: 1.7em;
		line-height: 40px;
}
.agile_count_grid_left span.glyphicon.glyphicon-heart-empty{
	    font-size: 1.7em;
		line-height: 40px;
}
span.fa.fa-trophy{
	    font-size: 1.7em;
		line-height: 45px;
}
.agile_count_grid_right p{
	color: #fff;
    font-weight: bold;
}
.w3_agile_stats_grid h4 {
    font-size: 1.3em;
    color: #ffcc54;
    margin: 1em 0 0;
    text-transform:uppercase;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
}
.agile_count_grid_left span {
    color:#ffcc54;
    top: 5px;
}
.w3_agile_stats_grid {
    background: rgba(221, 223, 226, 0.23);
    padding: 2em 1em;
}
/*-- //counter--*/
/*-- wthree-mid --*/
.wthree-mid {
    background: url(../images/33.jpg) no-repeat 0px 0px;
    /*background: url(https://www.youtube.com/embed/WsQpQ6HAqkY) no-repeat 0px 0px;*/
    background-size: cover;
	padding:5em 0;
	text-align:center;
	z-index:1;
}
.wthree-mid h3 {
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
.wthree-mid p {
    color: #ffffff;
    text-align: center;
    line-height: 28px;
    width: 63%;
    margin: 30px auto;
    font-size: 17px;
    padding: 20px 0;
    border-top: 1px solid #8d8d8d;
}
/*-- //wthree-mid --*/
/*-- to-top --*/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 35px;
	right: 2%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arr1.png) no-repeat 0px 0px;
}

#toTopHover {
	width: 32px;
	height: 32x;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/* Team */
.team img {
    width: 100%;
}
.inner-team1{
    box-shadow: 0 1px 1px #ddd;
	padding:0 0 10px 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -webkit-box-shadow: 0 1px 1px #ddd;
    -moz-box-shadow: 0 1px 1px #ddd;
}
.inner-team1:hover {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
    -webkit-box-shadow: 0 0 40px #aaa;
    -moz-box-shadow: 0 0 40px #aaa;
    box-shadow: 0 0 40px #aaa;
}
.team1 h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    color: #000;
    text-transform: capitalize;
}
.team1 h4 {
    text-align: center;
    font-size: 18px;
    margin: 10px 0 0;
    letter-spacing: 1px;
    color: #03A9F4;
    font-weight: normal;
}
.team1 p {
    color: #212121;
    color: #757575;
    line-height: 26px;
    padding: 20px;
    text-align: center;
}
.team1 {
    padding: 8px;
}
.team-social a i {
    color: #000;
    font-size: 16px;
    border: 1px solid #8a8a8a;
    padding: 10px;
    width: 35px;
    height: 35px;
    line-height: 15px;
}
.inner-team1 {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
    border: 1px solid #d4d4d4;
}
.team-social{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
    text-align: center;
    margin-bottom: 10px;
}
.inner-team1:hover div.team-social {
    display: block;
    bottom: 100px;
    left: 68px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.team i.fa.fa-twitter {
	color: #1da1f2;
}
.team i.fa.fa-twitter:hover {
    color: #fff;
    background: #1da1f2;
    border: 1px solid #1da1f2;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
	transition:1s all;
	-o-transition: all 1s;
	-ms-transition: all 1s;
}
.team i.fa.fa-pinterest-p{
	color: #bd081c;
}
.team i.fa.fa-pinterest-p:hover{
    color: #fff;
    background: #bd081c;
    border: 1px solid #bd081c;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
	transition:1s all;
	-o-transition: all 1s;
	-ms-transition: all 1s;
}
.team i.fa.fa-linkedin{
	color: #e68523;
}
.team i.fa.fa-linkedin:hover{
    color: #fff;
    background: #e68523;
    border:1px solid #e68523;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
	transition:1s all;
	-o-transition: all 1s;
	-ms-transition: all 1s;
}
/* Team */
/*-- icons --*/

.grid_3.grid_4.w3_agileits_icons_page {
    margin: 0;
}

ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

ul.bs-glyphicons-list li:hover span {
    color: #fff;
}

.codes a {
    color: #555;
}

.row.fontawesome-icon-list {
    margin: 0;
}

.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}

.icon-box:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.icon-box:hover i.fa {
    color: #fff !important;
}

.icon-box:hover a.agile-icon {
    color: #fff !important;
}

.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
}

.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
}

.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

h3.icon-subheading {
    font-size: 25px;
    color: #ffcc54;
    margin: 30px 0 15px;
    font-weight: 600;
}

h3.agileits-icons-title {
    text-align: center;
    font-size: 35px;
    color: #000;
    font-weight: 300;
}

.icons a {
    color: #555;
}

.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}

.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(149, 149, 149, 0.18);
    margin: 1%;
    cursor: pointer;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

@media (max-width:1080px) {
    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }
    .icon-box {
        width: 33.33%;
    }
}

@media (max-width:991px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

    h3.agileits-icons-title {
        font-size: 28px;
    }
    h3.icon-subheading {
        font-size: 22px;
    }
    .icon-box {
        width: 50%;
    }
}

@media (max-width:768px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

    h3.agileits-icons-title {
        font-size: 28px;
    }
    h3.icon-subheading {
        font-size: 25px;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .icon-box {
        margin: 0;
    }
}
@media (max-width: 667px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

    .test-grid h4 {
        font-size: 1em;
    }
    .examples {
        width: 95%;
        margin: 4em auto 2em;
    }
    .test-grid1 {
		width: 38%;
	}
}
@media (max-width: 640px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

    .icon-box {
        float: left;
        width: 50%;
    }
    h3.icon-subheading {
        font-size: 22px;
    }
    .grid_3.grid_4.w3_agileits_icons_page {
        margin-top: 0;
    }
    .test-grid1 {
        width: 41%;
    }
}

@media (max-width: 480px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

    .bs-glyphicons li {
        width: 31%;
    }
    h3.agileits-icons-title {
        font-size: 25px;
    }
    h3.icon-subheading {
        font-size: 19px;
    }
}

@media (max-width: 414px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }


    h3.agileits-icons-title {
        font-size: 23px;
    }
    h3.icon-subheading {
        font-size: 18px;
    }
    .bs-glyphicons li {
        width: 31.33%;
    }
}

@media (max-width: 384px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }


    .icon-box {
        float: none;
        width: 100%;
    }
}

@media (max-width: 375px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }


    .w3_agileits_icons_page {
        margin: 0 !important;
    }
}
/*-- //icons --*/
.banner-bottom {
    padding: 5em 0;
}
.priceing-table-main {
    margin: 4em auto 0;
    width: 88%;
}

.price-list ul {
    padding: 0px;
    list-style: none;
}

.price-gd-top {
    background: #6a67ce;
    padding: 2em 0;
    text-align: center;
}
.price-list ul li:nth-child(2),.price-list ul li:nth-child(4) {
    background: #f5f5f9;
}
.price-gd-top h4 {
    font-size: 1.4em;
    color: #fff;
    padding: 0.4em 1em;
    font-weight: 400;
    text-transform: uppercase;
}

.price-gd-top h3 {
    padding: 0.2em 0em 0.1em 0em;
    font-size: 3em;
    color: #fff;
    font-weight: 800;
}

.price-gd-top h5 {
    font-size: 1em;
    color: #fff;
    padding: 0.2em 0em 0.8em 0em;
}

.price-gd-bottom {
    background: #fff;
    text-align: center;
    padding: 1em 0em;
}

.price-gd-top.pric-clr2 {
    background: #ffb900;
}

.price-selet.pric-sclr2 a {
    background: #ffb900;
}

.price-gd-top.pric-clr3 {
    background: #fc636b;
}

.price-selet.pric-sclr3 a {
    background: #fc636b;
}

.price-list ul li {
    padding: 1em 0em;
    font-size: 1em;
    color: #999999;
    border-bottom: 1px solid #f1efeffa;
}

.price-selet {
    padding: 2em 0em 1em 0;
    text-align: center;
    background: #fff;
}

.price-selet a {
    font-size: 1.1em;
    color: #fff;
    display: block;
}

.price-selet a {
    font-size: 1em;
    color: #ffffff;
    display: inline-block;
    padding: 0.7em 2em;
    background: #6a67ce;
    text-decoration: none;
}

.price-block {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.price-block:hover,
.w3layouts-pricing:hover,
.w3-agileits-vpn-grid:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    z-index: 1;
}

.book-form input[type="text"],
.book-form input[type="email"],
.book-form input[type="password"] {
    width: 99%;
    color: #555;
    outline: none;
    font-size: 0.9em;
    padding: .6em 1em;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    margin-bottom: 1.5em;
    line-height: 1.8em;
    letter-spacing: 1px;
}

.modal-header.book-form form {
    margin-top: 1.5em;
}

.book-form input[type=submit] {
    color: #FFFFFF;
    padding: 1em 1em;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid #fff;
    outline: none;
    background: #FFC107;
    width: 100%;
    font-weight:600;
    letter-spacing:1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.book-form input[type=submit]:hover{
    background:#fc636b;
}
.price-block:hover .price-gd-top{
     background:#FFC107;
}
.price-block:hover .price-selet a{
     color: #fff;
     background:#FFC107;
         -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.check-box input[type="checkbox"]+label {
    position: relative;
    padding-left: 2em;
    border: none;
    outline: none;
    font-size: 1em;
    color: #555;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1px;
}

.check-box {
    margin-bottom: 1.5em;
}

.check-box input[type="checkbox"] {
    display: none;
}

.check-box input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../images/tick.png)no-repeat;
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}

.check-box input[type="checkbox"]+label span:first-child {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #555;
    position: absolute;
    left: 0;
    top: 1px;
}

.modal-header.book-form {
    padding: 2em 2em;
}

.modal-header h4 {
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0c0d0d;
    margin: 0.5em 0 1em 0;
}


/*--Typography--*/

.well {
    font-weight: 300;
    font-size: 14px;
}

.list-group-item {
    font-weight: 300;
    font-size: 14px;
}

li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}

.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
    background: #e0e0e0;
}

.grid_3 {
    margin-bottom: 2em;
}

.xs h3,
h3.m_1 {
    color: #000;
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 1em;
}

.grid_3 p {
    color: #555;
    font-size: 0.85em;
    margin-bottom: 1em;
    font-weight: 300;
}

.grid_4 {
    background: none;
    margin-top: 50px;
}

.label {
    font-weight: 300 !important;
    border-radius: 4px;
}

.grid_5 {
    background: none;
    padding: 2em 0;
}

.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.hdg,
h3.bars {
    margin-bottom: 1em;
    color: #ffcc54;
    font-weight: 600;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: none !important;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 0;
}

.badge-primary {
    background-color: #03a9f4;
}

.badge-success {
    background-color: #8bc34a;
}

.badge-warning {
    background-color: #ffc107;
}

.badge-danger {
    background-color: #e51c23;
}

.grid_3 p {
    line-height: 2em;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 300;
}

.bs-docs-example {
    margin: 1em 0;
}

section#tables p {
    margin-top: 1em;
}

.tab-container .tab-content {
    border-radius: 0 2px 2px 2px;
    border: 1px solid #e0e0e0;
    padding: 16px;
    background-color: #ffffff;
}

.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 15px!important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    font-size: 0.9em;
    color: #555;
    border-top: none !important;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

.label {
    font-weight: 300 !important;
}

.label {
    padding: 4px 6px;
    border: none;
    text-shadow: none;
}

.alert {
    font-size: 0.85em;
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
    line-height: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li.list-group-item1 {
    line-height: 2.5em;
}

.input-group {
    margin-bottom: 20px;
}

.in-gp-tl {
    padding: 0;
}

.in-gp-tb {
    padding-right: 0;
}

.list-group {
    margin-bottom: 48px;
}

ol {
    margin-bottom: 44px;
}

h2.typoh2 {
    margin: 0 0 10px;
}

@media (max-width:800px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

    .grid_3.grid_5.w3ls,
    .grid_3.grid_5.w3l,
    .grid_3.grid_5.agileits,
    .grid_3.grid_5.agileinfo,
    .grid_3.grid_5.wthree {
        margin: 0;
    }
}

@media (max-width:768px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

    .grid_5 {
        padding: 0 0 1em;
    }
    .grid_3 {
        margin-bottom: 0em;
    }
    .grid_3.grid_5.w3l {
        margin-top: 1.5em;
    }
}

@media (max-width:640px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .grid_5 h3,
    .grid_5 h2,
    .grid_5 h1,
    .grid_5 h4,
    .grid_5 h5,
    h3.hdg,
    h3.bars {
        margin-bottom: .5em;
    }
    ol.breadcrumb li,
    .grid_3 p,
    ul.list-group li,
    li.list-group-item1 {
        font-size: 14px;
    }
    .breadcrumb {
        margin-bottom: 25px;
    }
    .well {
        font-size: 14px;
        margin-bottom: 10px;
    }
    h2.typoh2 {
        font-size: 1.5em;
    }
    .label {
        font-size: 60%;
    }
    .in-gp-tl {
        padding: 0 1em;
    }
    .in-gp-tb {
        padding-right: 1em;
    }
    .list-group {
        margin-bottom: 20px;
    }
}

@media (max-width:480px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }


    .grid_5 h3,
    .grid_5 h2,
    .grid_5 h1,
    .grid_5 h4,
    .grid_5 h5,
    h3.hdg,
    h3.bars {
        font-size: 1.2em;
    }
    .table h1 {
        font-size: 26px;
    }
    .table h2 {
        font-size: 23px;
    }
    .table h3 {
        font-size: 20px;
    }
    .label {
        font-size: 53%;
    }
    .alert,
    p {
        font-size: 14px;
    }
    .pagination {
        margin: 20px 0 0px;
    }
    .grid_3.grid_4.w3layouts {
        margin-top: 0;
    }
}

@media (max-width: 320px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }


    .grid_4 {
        margin-top: 18px;
    }
    h3.title {
        font-size: 1.6em;
    }
    .alert,
    p,
    ol.breadcrumb li,
    .grid_3 p,
    .well,
    ul.list-group li,
    li.list-group-item1,
    a.list-group-item {
        font-size: 13px;
    }
    .alert {
        padding: 10px;
        margin-bottom: 10px;
    }
    ul.pagination li a {
        font-size: 14px;
        padding: 5px 11px;
    }
    .list-group {
        margin-bottom: 10px;
    }
    .well {
        padding: 10px;
    }
    .nav>li>a {
        font-size: 14px;
    }
    table.table.table-striped,
    .table-bordered,
    .bs-docs-example {
        display: none;
    }
}
/*-- //typography --*/
/*-- services --*/
.services-grids1{
	margin:2em 0 0 0 !important;
}
.wthree-top-grid h4 {
    color: #ffcc54;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 10px 0;
    font-weight: 600;
    letter-spacing: 1px;
}
.wthree-top-grid p {
    color: #777;
    font-size: 15px;
    line-height: 28px;
    margin: 0;
}
.agileits-about-top {
    padding: 5em 0;
}
/*-- //services --*/
/* about page */
.about {
    padding: 5em 0;
}
.servicegrid1 {
    text-align: center;
}
.servicegrid1 h3 {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    margin-top: .2em;
}
.servicegrid1  i.fa {
    color: #ff4c4c;
    font-size: 70px;
    margin: .5em 0;
}
.servicegrid1  p {
    font-size: 14px;
    color: #e6e6e6;
    line-height: 1.8em;
    letter-spacing: .5px;
    text-transform: capitalize;
}
.servicegrid1 i {
    color: #0099e5;
}
.aboutleft h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin-bottom: 1em;
}
.aboutleft p {
    font-size: 15px;
    line-height: 28px;
    color: #3e3e3e;
    margin-bottom: 1em;
}
.aboutleft  p.para1 {
    margin-bottom: 2em;
}
.aboutleft i.fa.fa-check {
    color: #ff4c4c;
    padding-right: 1em;
    font-size: 1.2em;
}
.services-1 {
    background: url(../images/book3.jpg) no-repeat 0px 0px;
    background-size: cover;
	padding:5em 0;
}
/* //about page */
/*--gallery--*/
.gallery {
    padding: 5em 0;
}
.gallery-grids {
	padding:5px;
}
.gallery-box {
    display: block;
    overflow: hidden;
    width: 100%;
	transition: .3s;
	-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
/*--.gallery-box img{
    max-width: inherit;
}--*/
/*--image-zoom--*/
img.zoom-img {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
}
img.zoom-img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 750ms;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-duration: 750ms;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    overflow: hidden;
}
/*--//image-zoom--*/
/*--//gallery--*/
/*-- contact --*/
.contact {
    padding: 5em 0;
}
.sign-gd-two ul li {
    color: #000;
    margin: 25px 0;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    list-style-type: none;
}

.sign-gd-two ul li {
    margin-bottom: 15px;
}
.sign-gd-two ul li.p2 {
    margin-left: 34px;
    margin-top: 0px;
}
.sign-gd-two ul li i {
    color: #ffcc54;
    margin-right: 10px;
    font-size: 20px;
}
strong {
    text-transform: uppercase;
    color: #000;
}
.map-home a {
    color: #000;
}
.map-home a:hover {
    color: #146eb4;
}
ul.top-links li {
    display: inline-block;
}
ul.top-links li a i.fa {
    color: #f53753;
    color: #fff;
    font-size: 15px;
    background: #656565;
    padding: 0.7em 0;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    line-height: 14px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.top-links i.fa.fa-facebook {
    background: #3b5998;
}
.top-links i.fa.fa-facebook:hover {
    background: #fff;
    color: #3b5998;
}
.top-links i.fa.fa-google-plus {
    background: #dd4b39;
}
.top-links i.fa.fa-google-plus:hover {
    background: #fff;
    color: #dd4b39;
}
.top-links i.fa.fa-twitter {
    background: #0087da;
}
.top-links i.fa.fa-twitter:hover {
    background: #fff;
    color: #0087da;
}
.top-links i.fa.fa-linkedin {
    background: #0077b5;
}
.top-links i.fa.fa-linkedin:hover {
    background: #fff;
    color: #0077b5;
}
.map iframe {
    border: none;
    width: 100%;
    height: 413px;
}
.map {
    padding: 0;
}
.map-home h3 {
    color: #000;
    font-weight: 600;
    font-size: 25px;
}

/* contact form */
.contact-w3ls input[type="text"], .contact-w3ls input[type="email"] {
    width: 100%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .85em 1em;
    margin-bottom: 20px;
    border: solid 1px #c7c7c7;
    -webkit-appearance: none;
    display: inline-block;
}
.contact-w3ls textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #999;
    font-size: 1em;
    outline: none;
    padding: 1em .8em;
    border: solid 1px #c7c7c7;
    min-height: 17em;
    -webkit-appearance: none;
}
.contact-w3ls input[type="submit"] {
    outline: none;
    color: #fff;
    padding: .5em 2em;
    margin-left: 15px;
    font-size: 1em;
    -webkit-appearance: none;
    background: #ffcc54;
    border: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    /* width: 100%; */
    letter-spacing: 1px;
}
.contact-w3ls input[type="submit"]:hover {
    background: #000;
	color:#fff;
}
.contact-w3ls h3,.ser-top h3,.w3ls-heading h3,.agileits_w3layouts_head h3,.customer h3{
    text-transform: uppercase;
    text-align: center;
	font-size:30px;
	color:#000;
	margin-bottom:2em;
}
label.header {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-align: justify;
    text-transform: capitalize;
    float: left;
    margin-bottom: 8px;
}
.form-control {
    border: none;
    box-shadow: none;
}
h3.connect {
    margin-top: 43px;
}
/* //contact form */

/*-- //contact --*/

/* map */
iframe {
    width: 100%;
    border: none;
    height: 450px;
}
/* //map */

/*--responsive--*/

@media(max-width:1680px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

}

@media(max-width:1600px) {
    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }
}

@media(max-width:1440px) {
    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }
}

@media(max-width:1366px) {
    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

	h5.title-w3 {
		font-size: 2.6em;
	}
	.about-main-w3layouts,
	.team,
	.practice-areas,
	.clients-main {
		padding: 6em 0;
	}
	.contact-form {
		padding: 6em 4em 6em 7em;
	}

    

}

@media(max-width:1280px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

	.banner-text-w3-agileits {
		margin-top: 9em;
	}
	.contact-form {
		padding: 6em 4em 6em 4em;
	}
	.w3layouts_stats_left p {
		font-size: 2em;
		margin-top: 0.8em;
	}
}

@media(max-width:1080px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

	.w3-logo,
	.address,
	.nav-contact-w3ls {
		width: 33.1%;
	}
	.banner-text-w3-agileits {
		width: 60%;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 16px;
		letter-spacing: 4px;
	}
	.about-main-w3layouts,
	.team,
	.practice-areas,
	.clients-main {
		padding: 5em 0;
	}
	.date-w3 h4 {
		font-size: 1.5em;
	}
	p.para-w3-agile {
		font-size: 14px;
	}
	.area-right {
		padding: 1.5em;
	}
	.area-right h5 {
		font-size: 27px;
	}
	.g1 {
		padding: 1em 1.5em;
		margin: 0em 0em 0em .7em;
	}
	#owl-demo .item img {
		width: 65px;
	}
	.agile-dish-caption h4 {
		font-size: 1.3em;
		margin: 0.4em 0 0em;
		letter-spacing: 1.5px;
	}
	.g1 p span.fa {
		font-size: 1.5em;
	}
	.banner-text-w3-agileits h2 {
		font-size: 2.5em;
	}
	.banner-text-w3-agileits h5 {
		font-size: 1.5em;
		letter-spacing: 2px;
	}
	.banner-text-w3-agileits p {
		font-size: 15px;
	}
	.pricing-grid h3 {
		font-size: 1.4em; 
	}
	.pricing-grid h4 {
		font-size: 2em; 
	}
	.pricing-grid.grid-two {
		margin: 0 1.8em;
	}
	.pricing-grid.grid-three {
		margin: 0 1.7em 0 0;
	}
	.w3-logo a {
    font-size: 37px;
}
.pricing-grid {
    width: 22.7%;
}
.w3_agile_stats_grid h4 {
    font-size: 1.1em;
}
.w3layouts_footer_grid input[type="email"] {
    width: 83%;
}
button.btn1 {
    width: 17%;
}
}
@media(max-width:1050px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }
	.w3layouts_stats_left span.fa {
		font-size: 1.6em;
	}
	.contact-form {
		padding: 5em 3em 5em 3em;
	}
	.banner {
		min-height: 609px;
	}
	.banner-text-w3-agileits {
		margin-top: 7em;
	}
	.more a {
    padding: .5em 1.2em;
}
}

@media(max-width:1024px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }


	.pricing-grid h4 {
		font-size: 1.8em; 
	}
	.w3ls-bottom {
		padding: 2.5em 1em 0;
	}
	.w3ls-top:after {
        left: -27px;
		top: 11px;
		border-top: 35px solid #ffffff;
		border-left: 100px solid transparent;
		border-right: 100px solid transparent;
	}
	.pricing-grid h3 {
		font-size: 1.2em;
	}
	.pricing-grid h4 {
		font-size: 1.5em;
	}
}

@media(min-width:992px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

	.sectiona {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	.area-main {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	.wthree-form {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
}

@media(max-width:991px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

	.banner-text-w3-agileits {
		width: 70%;
	}
	.area-right {
		padding: 2em;
	}
	.clients-left {
		margin-bottom: 2em;
	}
	.g1 {
		padding: 1em 1.5em;
		margin: 0em 0.7em 0em 0em;
	}
	.owl-theme .owl-controls .owl-page span {
		margin: 0px 12px 0px;
	}
	.map-w3-agileits iframe {
		height: 18em;
	}
	.contact-form {
		padding: 5em 8.5em;
	}
	.map-w3-agileits {
		padding: 1em 1em .7em;
	}
	.pricing-grid ,.pricing-grid.grid-two,.pricing-grid.grid-three{
		width: 45%;
		margin:1em;
		float:left;
	}
	.w3ls-bottom {
		padding: 1em 1em 0;
	}
	.pricing-grid h3 {
		padding-bottom: 0.5em;
	}
	.w3ls-top:after {
		left: -7px;
		top: 20px;
		border-top: 35px solid #ffffff;
		border-left: 139px solid transparent;
		border-right: 139px solid transparent;
	}
	.pricing-grids-info {
		margin-top: 0em;
	}
.address, .nav-contact-w3ls {
    width: 27%;
}
.w3-logo{
    width: 44%;
}
.nav-contact-w3ls, .address {
    margin-top: 0px;
}
.wthree-pricing {
    padding: 5em 0 2em;
}
.w3_agile_stats_grid-top {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}
.banner-dott1 {
    padding: 5em 0 3em;
}
.w3layouts_footer_grid:nth-child(2){
	margin:2em 0;
}
.w3layouts_footer_grid h2, .w3layouts_footer_grid h3 {
    margin-bottom: 0.8em;
}
.team1 {
    float: left;
    width: 50%;
}
.wthree-top-grid h4 {
    font-size: 20px;
    letter-spacing: 1px;
}
.gallery-grids {
    float: left;
    width: 50%;
}
}
@media(max-width:900px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

}

@media(max-width:800px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

	.navbar-default .navbar-nav>li>a {
		font-size: 15px;
		letter-spacing: 3px;
	}
	h5.title-w3 {
		font-size: 2.3em;
		margin: 0em 0 0.6em;
	}
	.about-main-w3layouts,
	.team,
	.practice-areas,
	.clients-main {
		padding: 4em 0;
	}
	.w3ls_address_mail_footer_grids {
		padding: 3em 0;
	}
	h5.sub-hdg {
		font-size: 21px;
	}
	.date-w3 h4 {
		font-size: 1.3em;
	}
	.contact-form {
		padding: 4em 2em;
	}
	.about-sub {
		margin-top: 1em;
	}
	.pricing-grid { 
		width: 47%; 
	}
	.pricing-grid.grid-three {
		margin: 1em;
	}
	.pricing-grid {
		width: 46%;
	}
	.wthree-mid {
    padding: 4em 0;
	}
	.wthree-mid p {
    width: 100%;
    padding: 20px 0 0;
}
.wthree-mid h3 {
    font-size: 30px;
    line-height: 40px;
}
.wthree-pricing {
    padding: 4em 0;
}
.wthree-pricing {
    padding: 4em 0 1em;
}
.banner-dott1 {
    padding: 4em 0 2em;
}
.wthree_head_section p {
    width: 100%;
}
.clients-main {
    padding: 4em 0;
}
.f-bg-w3l {
    padding: 4em 0;
}
.about {
    padding: 4em 0;
}
.agileits-about-top {
    padding: 4em 0;
}
.banner-bottom {
    padding: 4em 0;
}
.gallery {
    padding: 4em 0;
}
.contact {
    padding: 4em 0;
}
}

@media(max-width:768px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

	.banner {
		min-height: 550px;
	}
	.banner-text-w3-agileits {
		margin-top: 5em;
	}
	.free {
		padding: 2.5em 0;
	}
}

@media(max-width:767px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

	.navbar-nav {
		float: none;
		margin: 10px!important;
	}
	.navbar-default .navbar-toggle {
		border-color: #ffcc54;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none;
	}
	div#bs-example-navbar-collapse-1 {
		background: rgba(0, 0, 0, 0.91);
		margin: 0;
		padding: 0px 0;
		position: absolute;
		width: 100%;
		z-index: 999;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
	.navbar-nav .open .dropdown-menu>li>a {
		text-align: center;
	}
	.navbar-nav .open .dropdown-menu>li>a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 0px 5px 0px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #1ca0de;
	}
	.navbar-nav>li {
		float: none;
		display: block;
		text-align: center;
		margin-bottom: 10px;
		width: 100%
	}
	.navbar-nav>li:nth-child(5) {
		margin-bottom: 0!important;
	}
	.navbar-toggle {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		float: none;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 12px!important;
		padding: 8px 12px;
		display: inline-block;
	}
	.navbar-nav>li {
		margin: 0 0 10px;
	}
	.navbar {
		min-height: auto;
		text-align: center;
	}
	.inst-grids {
		width: 60%;
		margin: 0 auto;
	}
	.w3ls_footer_grid_left:nth-child(2) {
		margin: 1.5em 0;
	}
	.agile-dish-caption span {
		font-size: 13px;
		letter-spacing: 1px;
	}
	.w3-logo {
    width: 41%;
}
.address, .nav-contact-w3ls {
    width: 29%;
}
.w3-logo a {
    letter-spacing: 1px;
}
.banner-text-w3-agileits {
    margin-top: 4em;
}
.banner-text-w3-agileits h2 {
    font-size: 2.2em;
}
.banner-text-w3-agileits {
    width: 74%;
}
.banner {
    min-height: 510px;
}
p.copyright {
    font-size: 15px;
}
}

@media(max-width:736px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

	.pricing-grid {
		width: 45%;
	}
.contact-left.agileits-w3layouts {
    padding: 0;
	float: left;
    width: 100%;
}
.contact-right.agileits-w3layouts {
    float: left;
    width: 100%;
	 padding: 0;
}
.contact-w3ls input[type="submit"] {
    margin-left: 0;
    margin-top: 11px;
}
iframe{
   height: 250px;
}
}

@media(max-width:667px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

.w3-logo {
    width: 100%;
    text-align: center;
    float: none;
    margin-bottom: 10px;
}
.banner-text-w3-agileits h2 {
    font-size: 2em;
}
	.address,
	.nav-contact-w3ls {
		width: 50%;
		float: left;
	}
	header {
		padding: 1.5em 0 1.2em;
	}
	.banner-text-w3-agileits {
		margin-top: 2em;
		width: 80%;
	}
	.botton a {
		letter-spacing: 2px;
		font-size: 14px;
		padding: 8px 20px;
	}
	.pricing-grid {
		width: 44%;
	}
}

@media(max-width:640px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        min-height: 750px;
        z-index:1;
    }

	.banner-text-w3-agileits h2 {
		margin: 0.1em 0;
	}
	.banner-text-w3-agileits h5 {
    font-size: 1.3em;
}
	.banner-text-w3-agileits {
		width: 90%;
	}
	.wthree_head_section {
    margin-bottom: 2em;
}
	.about-main-w3layouts,
	.team,
	.practice-areas,
	.clients-main {
		padding: 3em 0;
	}
	.contact-form {
		padding: 3em 2em;
	}
	.about-sub h5 span.fa {
		font-size: 1.3em;
	}
	.about-left1,
	.about-left2 {
		flex-basis: 49%;
		-webkit-flex-basis: 49%;
	}
	h6.footer-logo a {
		font-size: 3.5em;
	}
	.copyright-wthree p {
		letter-spacing: 2px;
	}
	.wthree-mid {
    padding: 3em 0;
}
.wthree-pricing {
    padding: 3em 0 1em;
}
.more a {
    padding: .5em 1em;
}
.banner-dott1 {
    padding: 3em 0 1em;
}
.w3_agile_stats_grid h4 {
    font-size: 1em;
}
.f-bg-w3l {
    padding: 3em 0;
}
.about {
    padding: 3em 0;
}
.agileits-about-top {
    padding: 3em 0;
}
.banner-bottom {
    padding: 3em 0;
}
.gallery {
    padding: 3em 0;
}
.contact {
    padding: 3em 0;
}
.contact-w3ls textarea {
    min-height: 10em;
}
}

@media(max-width:600px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

	.about-left2 {
		margin-top: 1em;
	}
	.free h5 {
		float: none;
		padding-top: 0em;
		padding-bottom: 1em;
		text-align: center;
	}
	.free .botton a {
		float: none;
		text-align: center;
	}
	.free .botton a {
		float: none;
	}
	.free .botton {
		text-align: center;
	}
	.pricing-grid, .pricing-grid.grid-two, .pricing-grid.grid-three {
		width: 45%;
	}
	.pricing-grid, .pricing-grid.grid-two, .pricing-grid.grid-three {
		width: 44%;
	}
}

@media(max-width:568px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

	.banner-text-w3-agileits {
		width: 100%;
	}
	.w3layouts_stats_left p {
		font-size: 1.7em;
		letter-spacing: 1px;
	}
	h5.title-w3 {
		font-size: 2.2em;
		word-spacing: 0px;
	}
	#owl-demo .item img {
		width: 55px;
	}
	.agile-dish-caption h4 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	p.para-w3-agile {
		font-size: 13px;
		line-height: 26px;
		letter-spacing: 0.8px;
	}
	.banner-text-w3-agileits {
		margin-top: 2.3em;
	}
	.w3l-social ul li a.fa {
		margin: 0 1.5em;
	}
	.pricing-grid {
		width:43%;
	}
}

@media(max-width:480px) {
    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

	.banner-text-w3-agileits h2 {
		font-size: 2.1em;
		letter-spacing: 1px;
	}
	.banner-text-w3-agileits h5 {
		font-size: 1.3em;
		margin-bottom: 5px;
	}
	.banner-text-w3-agileits p {
		font-size: 14px;
		letter-spacing: 1px;
	}
	h5.title-w3 {
		font-size: 2em;
		letter-spacing: 1px;
	}
	.area-img1,
	.area-img2,
	.area-img3,
	.area-img4 {
		min-height: 220px;
	}
	.agile-dish-caption {
		float: none;
		width: 100%;
		padding: 0;
	}
	.g1 {
		padding: 1em 1em;
	}
	#owl-demo .item img {
		margin: 0.5em 0;
	}
	.w3l-social ul li a.fa {
		margin: 0 1.3em;
	}
	.copyright-wthree p {
		word-spacing: 0px;
		line-height: 28px;
	}
	.pricing-grids-info {
		width: 70%;
		margin: 0 auto;
	}
	.pricing-grid, .pricing-grid.grid-two, .pricing-grid.grid-three {
		width: 94%;
	}
	.w3l_header {
    font-size: 2.5em;
	}
	.wthree-mid h3 {
    font-size: 25px;
    line-height: 36px;
}
.w3_agile_stats_grid h4 {
    font-size: 1em;
}
.aboutleft h3 {
    font-size: 26px;
}
}
@media(max-width:440px) {

    .banner-baru {
    background: url(../images/home-background.png) no-repeat 0px 0px;
    background-position:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    /*min-height: 750px;*/
    z-index:1;
    }
	.banner-text-w3-agileits p {
		letter-spacing: 0.5px;
	}
	.banner {
		min-height: 445px;
	}
	h5.sub-hdg {
		font-size: 20px;
		letter-spacing: 0.5px;
		margin-bottom: 0.1em;
	}
	h5.title-w3 {
		line-height: 40px;
	}
	.inst-grids {
		width: 75%;
	}
	.w3ls_footer_grid_left:nth-child(2) {
		margin: 1em 0;
	}
	.contact-form input[type="submit"] {
		padding: 0.6em 3em;
		font-size: 15px;
	}
	.w3layouts_stats_left h3 {
		font-size: 1.03em;
	}
	.w3layouts_stats_left span.fa {
		font-size: 1.3em;
	}
	.banner-text-w3-agileits h2 {
    font-size: 1.5em;
    letter-spacing: 1px;
}
.banner-text-w3-agileits p {
    line-height: 21px;
}
.botton a {
    letter-spacing: 2px;
    font-size: 13px;
    padding: 6px 13px;
}
.banner-text-w3-agileits {
    margin-top: 1.5em;
}
.wthree-mid h3 {
    font-size: 23px;
    line-height: 33px;
}
.wthree-mid p {
    margin: 30px auto 0;
    font-size: 14px;
}
.w3_agile_stats_grid-top {
    width: 100%;
}
p.copyright {
    font-size: 14px;
}
.gallery-grids {
    width: 100%;
}
.gallery-grids img{
    width: 100%;
}
}

@media(max-width:414px) {

    .banner-baru {
        background: url(../images/home-background.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

	.banner-text-w3-agileits p {
		font-size: 13px;
	}
	.header-bottom-agileits p {
		font-size: 13px;
	}
	.area-right h5 {
		font-size: 25px;
		margin-bottom: 2px;
	}
	.area-right {
		padding: 1.5em;
	}
	h5.title-w3 {
		margin: 0em 0 0.4em;
	}
	.about-main-w3layouts,
	.team,
	.practice-areas,
	.clients-main {
		padding: 2.5em 0;
	}
	.about-left1,
	.about-left2 {
		padding: 1.5em;
	}
	.agile-dish-caption {
		float: left;
		width: 72%;
	}
	#owl-demo .item img {
		margin: 0 0 1em;
	}
	.clients-left {
		margin-bottom: 1em;
	}
	.contact-form {
		padding: 2.5em 1.8em;
	}
	.contact-form input[type="submit"] {
		margin: 0.3em 0 0 0;
	}
	.map-w3-agileits iframe {
		height: 16em;
	}
	.wthree-mid {
    padding: 2.5em 0;
}
.wthree-mid {
    padding: 3em 0;
}
.banner-dott1 {
    padding: 2.5em 0 1em;
}
.f-bg-w3l {
    padding: 2.5em 0;
}
.about {
    padding: 2.5em 0;
}
.team1 {
    width: 100%;
}
.banner-1 {
    min-height: 260px;
}
.agileits-about-top {
    padding: 2.5em 0;
}
.banner-bottom {
    padding: 2.5em 0;
}
.gallery {
    padding: 2.5em 0;
}
button.btn1 {
    width: 16%;
}
.w3layouts_footer_grid input[type="email"] {
    width: 84%;
}
.contact {
    padding: 2.5em 0;
}
}

@media(max-width:384px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }
    

	.banner-text-w3-agileits h2 {
		letter-spacing: .5px;
	}
	.banner-text-w3-agileits {
		margin-top: 1.75em;
	}
	.address, .nav-contact-w3ls {
    width: 100%;
    float: none;
    text-align: center;
}
.header-bottom-agileits p {
    text-align: center;
}
.banner {
    min-height: 491px;
}
.wthree-mid h3 {
    font-size: 20px;
    line-height: 30px;
}
.pricing-grids-info {
    width: 86%;
    margin: 0 auto;
}
.banner-text-w3-agileits p {
    font-size: 12px;
}
}

@media(max-width:375px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }

	.inst-grids {
		width: 90%;
	}
	.free h5 {
		line-height: 32px;
		padding-bottom: 0.5em;
	}
}

@media(max-width:320px) {

    .banner-baru {
        background: url(../images/tes3.png) no-repeat 0px 0px;
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*min-height: 750px;*/
        z-index:1;
    }
    


	.banner-text-w3-agileits h5 {
		font-size: 1.1em;
	}
	.banner-text-w3-agileits h2 {
		font-size: 1.4em;
	}
	.w3l-social ul li a.fa {
		margin: 0 1em;
	}
	.copyright-wthree p {
		letter-spacing: 1px;
	}
	.pricing-grid, .pricing-grid.grid-two, .pricing-grid.grid-three {
		width: 90%;
	}
	.pricing-grids-info {
		margin-top: 1em;
	}
	.pricing-grid h3 {
		font-size: 1.2em;
	}
	.pricing-grid h4 {
		font-size: 1.5em;
	}
	.banner {
    min-height: 506px;
}
.w3l_header {
    font-size: 2em;
}
.w3ls-bottom {
    padding: 0em 0em 0;
}
.pricing-grids-info {
    width: 100%;
    margin: 0 auto;
}
.w3layouts_footer_grid h2, .w3layouts_footer_grid h3 {
    font-size: 1.3em;
	letter-spacing: 1px;
}
p.copyright {
    font-size: 13px;
}
.w3layouts_footer_grid p {
    font-size: 0.9em;
}
.banner-1 {
    min-height: 260px;
}
.aboutleft h3 {
    font-size: 24px;
}
}
/*--responsive--*/